form
    {
    
        input{
            padding: 1%;
            background: rgb(78, 121, 185);
            color: ali ceblue;
        }
        button{
            padding: 1px;
        }
    }
    


.errors
{
    border: 2px solid red;
    color: red;
}