

<form [formGroup]="crearform" >
  <input type="number" formControlName="cedula" placeholder="cedula">
  <span class="errors" *ngIf="nuevoform.controls['cedula'].errors?.required"> Obligatorio </span>
  <span class="errors" *ngIf="nuevoform.controls['cedula'].errors?.pattern"> Inválido </span>

  <input type="text"  formControlName="nombre"  placeholder="nombre">
  <span class="errors" *ngIf="nuevoform.controls['nombre'].errors?.required"> Obligatorio </span>
  <span class="errors" *ngIf="nuevoform.controls['nombre'].errors?.pattern"> Inválido </span>


  <input type="number"  formControlName="telefono"  placeholder="telefono">
  <span class="errors" *ngIf="nuevoform.controls['telefono'].errors?.required"> Obligatorio </span>
  <span class="errors" *ngIf="nuevoform.controls['telefono'].errors?.pattern"> Inválido </span>


  <input type="text"  formControlName="email"  placeholder="email">
  <span class="errors" *ngIf="nuevoform.controls['email'].errors?.required"> Obligatorio </span>
  <span class="errors" *ngIf="nuevoform.controls['email'].errors?.pattern"> Inválido </span>


  <select formControlName="direccion"> 
    <option value="999">seleccione Ciudad</option>
    <option value="1">Quito</option>
    <option value="2">Guayaquil</option>
    <option value="3">Loja</option>
    <option value="4">Ambato</option>
  </select>

  <button  (click)="verificar()" >Guardar</button>

</form>


